.page__header {
   border: 1px solid var(--border-bottom-color);
}

.main-nav {
   display: flex;
   height: 80px;
}

.navigation {
   display: flex;
   align-items: center;
}

.logo {
   color: var(--accent-color);
   text-decoration: none;
   font-family: var(--secondary-font);
   font-weight: 700;
   font-size: 26px;
   line-height: 1.19;
   letter-spacing: 0.03em;
}

.navigation__logo {
   margin-right: 93px;
}

.navigation__logo--black {
   color: var(--color-logo-black);
}

.navigation__list {
   display: flex;
   align-items: center;
   justify-content: center;
}

.site-nav__item:not(:last-child) {
   margin-right: 50px;
}

.site-nav {
   transition: color var(--animation);
}

.site-nav__link,
.site-auth__link {
   padding-top: 32px;
   padding-bottom: 32px;

   color: var(--primary-title-color);
   text-decoration: none;
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
}

.site-nav__item {
   .site-nav__link:hover,
   .site-nav__link:focus {
      color: var(--accent-color);
   }
}

.site-nav__link--current {
   position: relative;

   color: var(--accent-color);
   transition: color var(--animation);
}

.site-nav__link--current::after {
   content: '';
   position: absolute;

   height: 4px;
   width: 100%;
   bottom: -1px;
   left: 0;

   border-radius: 2px;
   background-color: var(--accent-color);
}

.site-auth {
   margin-left: auto;
}

.site-auth__item:not(:last-child) {
   margin-right: 30px;
}

.site-auth__link{
   display: flex;
   align-items: center;
   color: var(--text-paragraph-color);

   transition: color var(--animation);
}

.site-auth__link-mail,
.site-auth__link-mobile  {
   margin-right: 10px;
   fill: currentColor;
}

.site-auth__item {
   .site-auth__link:hover,
   .site-auth__link:focus {
      color: var(--accent-color);
   }
}