:root {
   // шрифти
   --primary-font: 'Roboto', sans-serif;
   --secondary-font: 'Raleway', sans-serif;
   // кольори тексту
   --color-logo-black: rgba(0, 0, 0, 1);
   --hero-title-color: rgba(255, 255, 255, 1);
   --primary-title-color: rgba(33, 33, 33, 1);
   --text-paragraph-color: rgba(117, 117, 117, 1);
   --partners-color_border: rgba(175, 177, 184, 1);
   // accent
   --accent-color: rgba(33, 150, 243, 1);
   --accent-color-hover-button: rgba(33, 167, 243, 1); 
   // background color
   --primary-bg-color: rgba(255, 255, 255, 1);
   --secondary-bg-color: rgba(245, 244, 250, 1);
   --bg-color-hero-footer: rgba(47, 48, 58, 1);
   // other styles
   --link-auth-low-color: rgba(255, 255, 255, 0.6);
   --border-bottom-color: rgba(236, 236, 236, 1);
   --border-examples-list: rgba(238, 238, 238, 1);
   --overlay-card: rgba(33, 150, 243, 0.9);
   // animation
   --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   }